.body{
  height: 2000px;
}
/*Para que un cuadro texto tenga mayor alto*/
.cajaTextoAlta {
  height: 120px;
}

/*Para estirar la imagen de prueba*/
.imgSlider {
  width: 100%;
  height: 400px;
}

/*Para dar color a las flechas del slider*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
  color: #646464;
}

.carousel-control-next-icon:after {
  content: '>>';
  font-size: 50px;
  color: #FFFFFF;
}

.carousel-control-prev-icon:after {
  content: '<<';
  font-size: 50px;
  color: #FFFFFF;
}

/*Fin color flechas slider*/
/*Tamano de la imagen 1*/
.imagen1 {
  padding: 25px;
  width: 400px;
  height: 250px;
}

/*Tamano de la imagen 2*/
.imagen2 {
  padding: 25px;
  width: 400px;
  height: 300px;
}

/*Video responsivo*/
.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*Clases para la navbar de materialize*/
.textoGrande {
  font-size: 16px;
}
.titulo{
  font-size: 24px;
}
.espaciado{
  padding-left: 8px;
  padding-right: 8px;
}
.paddingItems{
  margin-right: 19px;
}
.paddingTitulo{
  margin-top: -7px;
  margin-left: -19px;


}
